<main role="main" class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
           <h1>Me</h1>
           <span>Дата рождения: 30.04.1997</span><br>
           <span>Родной город: Сургут</span><br>
           <span>Место проживания: Москва</span><br>
           <span>Языки:</span><br>
           <ul>
               <li>Русский</li>
               <li>English</li>
               <li>Français</li>
               <li>Español</li>
               <li>Latin</li>
               <li>Древнерусский</li>
           </ul>
        </div>
        <div class="col-md-5">
            <img id="polly" src={{ static_url("polly.jpg") }}>
        </div>
    </div>
</main>